footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  #socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: flex;
      width: 64px;
      height: 64px;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin: 0.6em;

      img {
        width: 100%;
        height: 100%;
      }
      img:hover {
        filter: drop-shadow(0 0 10px white);
      }
    }
  }
}
